.searchContainer {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  margin: 100px auto;
  padding: 0 40px;
}

.searchBar {
  padding: 8px 20px;
  font-size: 18px;
  width: 16em;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid #537289;
  color: #fff;
}

.selectFilter {
  margin-left: 15px;
  width: 12em;
  background: transparent;
  padding: 0 10px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #537289;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.introContainer h1,
.introContainer h2 {
  color: #b1dbf9;
}

.introContainer h1 {
  margin-bottom: 20px;
}

.movieListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.searchResultText {
  align-self: flex-start;
  margin-bottom: 15px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movieCard {
  width: auto;
  height: auto;
  margin: 10px 0;
  transition: transform 250ms;
}

.movieCard:hover {
  transform: translateY(-8px);
}

.movieCard h3 {
  max-width: 300px;
}

.movieCardLink:hover h3 {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.movieCard img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 12px 5px #0f161d;
  transition: box-shadow 250ms;
}

.movieCard:hover > img {
  box-shadow: 3px 12px 12px 12px #0f161d;
}
