.movieDetailsWrapper {
    max-width: 1440px;
    display: flex;
    margin: 80px auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.movieDetailsContainer {
    width: 60%;
    margin-left: 50px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.headerListInfo {
    display: flex;
}

.headerListInfo li img {
    vertical-align: top;
}

.headerListInfo li {
    padding: 5px;
    border: 1px solid #2970a9;
    margin: 10px 5px;
    font-weight: 300;
    font-size: 13px;
    color: #bee1ff;
    border-radius: 8px;
}

.headerListInfo li:first-of-type {
    margin-left: 0;
}

.movieDetails {
    margin-top: 40px;
}

.movieDetails span {
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #b1dbff;

}

.movieDetails p {
    margin: 15px 0;
    font-weight: 300;
    color: #fff;
}

.movieDetails p:first-of-type {
    margin-top: 0;
    border-bottom: 2px solid #6b8ca6;
    padding-bottom: 15px;
    font-weight: 400;
    color: #fff;
}