* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.8px;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient(45deg, #172129, #131f29db, #022541e8);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
